[Unit]
Description=Start Supervisor
After=healthcheck.service
Requires=healthcheck.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/camera/supervisor.py
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target